.Header {
  &__nav-links {
    display: flex;
    gap: 24px;
    @media screen and (max-width: 768px) {
      display: none; // Hide navigation links on smaller screens
    }
  }
  &__breadcrumb {
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}
