.product-container {
    padding: 100px 20px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }

  .product-details {
    margin-top: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .product-title {
    font-size: 20px;
    font-weight: bold;
  }

  .max-quantity-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }

  .button-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
  }

  .buy-now-button,
  .add-to-cart-button {
    background-color: #050a44;
    color: white;
    padding: 15px;
    border-radius: 2px;
    cursor: pointer;
    width: 100%;
  }

  .review-section {
    margin-top: 30px;
    max-width: 600px;
    margin: 0 auto;
    text-align: left; /* Ensure the section is left-aligned */
  }

  .review-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .review-section textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    resize: none;
  }

  .review-section button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  .review-section button:hover {
    background-color: #2980b9;
  }

//   ul {
//     padding-left: 0;
//     list-style-type: none; /* Remove default bullets */
//     color: #555;
//     margin-bottom: 20px;
//   }

//   li {
//     margin-bottom: 20px;
//   }

  .review-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .review-text {
    margin-right: 10px;
    flex-grow: 1; /* Take the available space */
  }

  .review-details {
    text-align: right; /* Align text to the right */
    white-space: nowrap; /* Prevent line break */
  }

  .reviewer-name {
    font-weight: bold;
  }

  .reviewer-status {
    font-size: 0.8em; /* Smaller text for status */
    color: gray; /* Change color to indicate status */
  }

  @media (min-width: 768px) {
    .product-container {
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      padding-top: 150px;
    }

    .product-details {
      margin-left: 50px;
      text-align: left;
      align-items: flex-start;
      flex: 1;
    }

    .product-title {
      font-size: 24px;
    }

    .button-group {
      flex-direction: row;
    }

    .buy-now-button,
    .add-to-cart-button {
      width: auto;
    }

    .review-section {
      text-align: left; /* Align to left on larger screens */
      margin-left: 20px; /* Add margin to the left */
    }
  }