.productCard{
    width: "220px";
    padding: "10px";
    background-color: "#FBE9D0";
    border-radius: "2px";
    color:"black";
    margin: "0 auto"; // Center the card
    display: "flex";
    flex-direction: "column";
    justify-content: "space-between";
    align-items: "center";
    position: "relative";
  }
.imageWrapper{
    width: "100%";
    position: "relative";
  }

.outOfStockLabel{
    position: "absolute";
    bottom: "10px";
    left: "50%";
    transform: "translateX(-50%)";
    background-color: "rgba(0, 0, 0, 0.7)";
    color: "white";
    padding: "2px 6px";
    border-radius: "3px";
    font-size: "12px";
  }

  productDetails {
    width: "100%";
    display: "flex";
    justify-content: "space-between";
    margin-top: "10px";
  } 