.LoginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  &__form {
    width: 300px;
    background-color: #c6dec6;
    padding: 10px;
    border-radius: 2px;
    color: black;
    &_button {
      background-color: black;
      padding: 5px;
      color: white;
      width: 100%;
    }
  }
}
