.signupContainer {
  margin-top: 80px;
  margin-bottom: 40px;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.formWrapper {
  width: 100%;
  max-width: 600px;
  background-color: #ffffff;
  border: 2px solid black;
  padding: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.signupForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%
    /* Space between form elements */
}

.input {
  border: 1px solid black;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.signupButton {
  background-color: #680101;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0056b3;
  }
}

.loginRedirectButton {
  background-color: transparent;
  color: #007bff;
  border: none;
  padding: 10px;
  cursor: pointer;
  text-decoration: underline;
  transition: color 0.3s ease;

  &:hover {
    color: #0056b3;
  }
}

@media (min-width: 768px) {
  .signupContainer {
    padding: 50px;
  }

  .formWrapper {
    width: 60%;
  }
}


.LoginPage {
  &__form {
    width: 300px;
    background-color: #c6dec6;
    padding: 10px;
    border-radius: 2px;
    color: black;

    &_button {
      background-color: RELISH_MAROON;
      padding: 5px;
      color: white;
      width: 100%;
    }
  }
}

.trial {
  display: flex;
  width: 100%;
  height: 500px;

  @media screen and (max-width: 768px) {
    flex-direction: column-reverse;
    height: 800px !important;
  }
}